body {
    background-color: white;
}

#lastOption {
    margin-right: 30px;
}

.body-header {
    margin: 30px;

}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px;
}



.courseCard {
    margin-right: 40px;
    width: 150px;
    cursor: pointer;
    display: block;
    height: 250px;
    padding: 20px;
    margin-top: 30px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    transition: all 0.1s ease-in-out 0.01s;
    border-radius: 20px;
}

.app-body-contents-one-item {
    margin-left: 20px;
    width: fit-content;
    float: left;
    display: block;
}

.card-holder-one-item {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px;
}

.courseCard-one-item {
    margin-right: 40px;
    width: 200px;
    cursor: pointer;
    display: block;
    height: 320px;
    padding: 20px;
    margin-left: 30px;
    margin-top: 30px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    transition: all 0.1s ease-in-out 0.01s;
    border-radius: 20px;
}

.courseCard-one-item:hover {
    transform: scale(1.05);

    transition: all 0.2s ease-in-out 0.01s;
}

.courseCard-one-item img {
    width: 100px;
    margin-left: 4.5px;
    margin-top: 15px;
}

.courseCard:hover {
    transform: scale(1.05);

    transition: all 0.2s ease-in-out 0.01s;
}

.courseCard img {
    width: 100px;
    margin-left: 4.5px;
    margin-top: 15px;
}

.app-body-contents {
    margin-left: 20px;
    width: fit-content;
    display: block;
}

.mainAppBody {}


@media only screen and (min-width: 740px) {
    .courseCard {
        margin-right: 30px;
        width: 200px;
        cursor: pointer;
        display: block;
        height: 320px;
        padding: 20px;
        margin-top: 30px;
        z-index: 2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        transition: all 0.1s ease-in-out 0.01s;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 658px) {
    .courseCard {
        margin-right: 0%;
        width: 200px;
        cursor: pointer;
        display: block;
        height: 320px;
    }
}



@media only screen and (max-width: 538px) {

    .app-body-contents-one-item {
        margin: auto;
        width: fit-content;
        float: none;
        display: block;
    }

    .app-body-contents-one-item h1 {
        text-align: center;
    }


    .app-body-contents {
        width: fit-content;
        margin: auto;
        align-items: center;
    }

    .courseCard {
        margin-right: 40px;
        width: 150px;
        cursor: pointer;
        display: block;
        height: 250px;
        padding: 20px;
        margin-top: 30px;
        z-index: 2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        transition: all 0.1s ease-in-out 0.01s;
        border-radius: 20px;
    }

    .card-holder {
        width: fit-content;

        margin-left: 50px;
    }

}

@media only screen and (max-width: 460px) {
    .app-body-contents {
        width: fit-content;
        align-items: center;
    }

    .body-header{
        text-align: center;
    }

    .card-holder {
        display: block;
        margin: auto;
    }


    .courseCard {
        margin-right: 0%;
        width: 200px;
        cursor: pointer;
        display: block;
        height: 320px;
    }


    .courseCard-one-item {
        margin-right: 0px;
        margin-left: 0px;
        width: 200px;
        cursor: pointer;
        display: block;
        height: 320px;
        padding: 20px;
        margin-top: 30px;
        z-index: 2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

        transition: all 0.1s ease-in-out 0.01s;
        border-radius: 20px;
    }


    .card-holder-one-item {
        display: block;
        width: fit-content;
        padding: 10px;
        margin: auto;
    }




}